@model SCA.Models.AlunoViewModel
@using SCA.Models

@{
    ViewData["Title"] = "Cadastro de Alunos";
}
<blockquote>
  <p><h3>@ViewData["Title"]</h3></p>
</blockquote>

<form asp-action="Create" role="form">
  <div class="form-group">
    <label for="lblNomeCompleto">Nome completo</label>
    <input type="txtNomeCompleto" class="form-control" id="lblNomeCompleto" placeholder="Nome completo" asp-for="NomeCompleto">
  </div>
  <div class="form-group">
    <label for="lblCPF">CPF</label>
    <input type="txtCPF" class="form-control" id="lblCPF" placeholder="CPF" asp-for="CPF">
  </div>
  <div class="form-group">
    <label for="lblRG">RG</label>
    <input type="txtRG" class="form-control" id="lblRG" placeholder="RG" asp-for="RG">
  </div>
  <div class="form-group">
    <label for="lblDtNasc">Data de nascimento</label>
    <input type="txtDtNasc" class="form-control" id="lblDtNasc" placeholder="Data de nascimento" asp-for="DataNascimento">
  </div>
  <div class="form-group">
    <label for="lblCEP">CEP</label>
    <input type="txtCEP" class="form-control" id="lblCEP" placeholder="CEP" asp-for="CEP">
  </div>
  <div class="form-group">
    <label for="lblEndereço">Endereço</label>
    <input type="txtEndereço" class="form-control" id="lblEndereço" placeholder="Endereço" asp-for="Endereco">
  </div>
  <div class="form-group">
    <label for="lblTelefone">Telefone</label>
    <input type="txtTelefone" class="form-control" id="lblTelefone" placeholder="Telefone" asp-for="Telefone">
  </div>
  <div class="form-group">
    <label for="lblEmail">E-mail</label>
    <input type="txtEmail" class="form-control" id="lblEmail" placeholder="E-mail" asp-for="Email">
  </div>
  <button type="submit" class="btn btn-default">Gravar</button>
</form>