@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/sca.jpeg" alt="Sistema de Controle Acadêmico" class="img-responsive" />
        </div>
    </div>
</div>