@model SCA.Models.MatriculaViewModel
@using SCA.Models

@{
    ViewData["Title"] = "Cadastro de Matrículas";
}

<blockquote>
  <p><h3>@ViewData["Title"]</h3></p>
</blockquote>

<form asp-action="Create" role="form">
  <div class="form-group">
    <label for="lblAluno">Aluno</label>
    <select asp-for="AlunoId" asp-items="@Model.Alunos" onchange='GetBolsaEnem(1)'>
      <option>Por favor, selecione um Aluno</option>
    </select>

  </div>
  <div class="form-group">
    <label for="lblCurso">Curso</label>
    <select asp-for="CursoId" asp-items="@Model.Cursos">
      <option>Por favor, selecione um Curso</option>
    </select>
  </div>
  <div class="form-group">
    <label for="lblDataInicio">Data início</label>
    <input type="txtDataInicio" class="form-control" id="lblDataInicio" placeholder="Data início" asp-for="DataInicio">
  </div>
  <div class="form-group">
    <label for="lblDataFim">Data fim</label>
    <input type="txtDataFim" class="form-control" id="lblDataFim" placeholder="Data fim" asp-for="DataFim">
  </div>
  <div class="form-group">
    <label for="lblBolsa">Bolsa de estudos</label>
    <input type="txtBolsa" class="form-control" id="lblBolsa" placeholder="Bolsa de estudos" value="@Model.BolsaEnem" asp-for="BolsaEstudos">
  </div>
  <button type="submit" class="btn btn-default">Gravar</button>
</form>

<script>
  function GetBolsaEnem(idAluno) {
      var success = function() {
          $.ajax({
              url: '/Aluno/BolsaEnem',
              data: {
                  idAluno: idAluno
              },
              success: function(data) {
                  var bolsaEstudos = $('#lblBolsa');
                  bolsaEstudos.value = data;
              },
              error: function(data, status, httpcode) {
                  if (httpcode == 'Bad Request') alert(data.responseText);
                  else alert('Não foi possível gerar o seu acordo, tente novamente mais tarde.');
              }
          });
      };
    }
  </script>